<p>
  <button (click)="addPost()">
    ADD POST
  </button>
</p>
<hr>
<p>
  <button (click)="updatePost()">
    UPDATE POST
  </button>
</p>
<hr>
<p>
  <button (click)="deletePost()">
    DELETE POST
  </button>
</p>
<hr>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let post of posts">
    <td>
      {{post.title}}
    </td>
    <td>
      {{post.body}}
    </td>
  </tr>
</table>
